<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User Login</h1>
    <form action="/login" method="post">
      <label for="email">Email</label>
      <input type="text" id="email" />
      <label for="password">Password</label>
      <input type="text" id="password" />
      <label for="button">Submit Form</label>
      <button type="submit" id="button" name="submit_button">Submit</button>
    </form>
  </body>
</html>
